body {
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  font-family: 'Beth Ellen', cursive;
  padding: 1em 3em;
}

a {
  color: black;
}

ul, dl {
  list-style: bengali;
  width: fit-content;
  margin: 0 auto;
}

.back {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  pointer-events: none;
}

.gradient1 {
  position: absolute;
  height: 300%;
  width: 300%;
  top: -120%;
  right: -200%;
  background-size: 30px;
  background-image: url("./assets/img/wave.png");
  animation: slide 3s infinite linear;
  transform: translateZ(0);
}

.gradient2 {
  position: absolute;
  height: 200%;
  width: 200%;
  top: -50%;
  right: 50%;
  background-size: 30px;
  background-image: url("./assets/img/wave.png");
  animation: slide 3s infinite linear;
  animation-direction: reverse;
  transform: translateZ(0);
}

@keyframes slide {
  0% {
    background-position: 0% 0;
  }

  100% {
    background-position: 100% -30px;
  }
}

.angle2 {
  transform: rotate(154.28deg);
}

.angle3 {
  transform: rotate(128.57deg);
}

.angle4 {
  transform: rotate(102.85deg);
}

.angle5 {
  transform: rotate(77.14deg);
}

.angle6 {
  transform: rotate(51.42deg);
}

.angle7 {
  transform: rotate(25.71deg);
}
