#splash {
  background: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px;
  z-index: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: 24px;
  height: 24px;
  margin-bottom: 200px;
  border-radius: 50%;
  border: 0.25rem solid rgba(0, 0, 0, 0.2);
  border-top-color: white;
  animation: spin 1s infinite linear;
}

#recButtons {
  position: absolute;
  bottom: 20px;
  text-align: center;
  left: 5px;
  right: 5px;
  z-index: 2;
}

#recButtons button {
  cursor: pointer;
  border-radius: 50%;
  font-size: 7.5px;
  color: white;
  text-align: center;
  height: 50px;
  width: 50px;
  padding: 0;
  outline: none;
}

#screenshotButton,
#startButton,
#stopButton {
  display: none;
  background: red;
}

#startButton {
  border: 12px outset white;
}

#screenshotButton {
  background: lightgray;
}

body {
  font-family: sans-serif; 
}

.a-dialog-allow-button {
  width: 100% !important;
  background-color: #20b2aa !important;
}

.a-dialog-deny-button {
  display: none !important;
}
